body { 
	height:100vh;
	box-sizing:border-box;
	background-color: black;
  background: url("") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#content{
  height: auto;
  margin: 1em 0em;
}

.errors{
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
}